base_path: '/home/andy/projects/gplvote.trustnet.server'
pid_file: '/var/run/gplvote.trustnet.server.pid'
log_file: '/var/log/projects/gplvote.trustnet.server.log'
cmd_path: '/home/andy/projects/gplvote.trustnet.server/server/signdoc-client-server.pl "/home/andy/projects/gplvote.signdoc.client/server/config.yml"'
product_name: 'gplvote.trustnet.server'
site: 'trustnet-server0.gplvote.org'
fcgi:
  host: '127.0.0.1'
  port: '9004'
  listen_queue: 128
  nprocs: 1
  max_requests: 300
db:
  host: '127.0.0.1'
  port: '5432'
  name: 'trustnet_server'
  user: 'postgres_user'
  password: 'postgres_password'
server_owner:
  public_key_id: ''
  personal_id: ''
server_transport_key:
  private: ''
  public: ''
trust_net:
  servers_count_for_app: 10
  messages_list_size: 100
